body
{ 
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgb(57, 55, 66), rgb(74, 74, 82));
 }

 .navigation>.right-column>.banner-image
{ 
    display: flex;
    background-color: black ;
    justify-items: left;
 } 
 .navigation>.right-column>.links-codepen a
 { 
  
    font-family: 'Roboto', sans-serif;
    color: rgba(252, 250, 250, 0.927);
    text-decoration: none;
   
 } 

 
 .navigation>.right-column>.links-codepen>.text
 { 
   display: grid;
   height: 100px;
   left: 310px;
   font-family: 'Roboto', sans-serif;
   position: absolute;
   color: #cea135;
   text-decoration: none;
  
}
   
 .navigation>.right-column>.links-codepen 
 { 
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(252, 250, 250, 0.927);
    text-decoration: none; 
    background-color: black;
}
.navigation>.right-column>.links-codepen a
 { 
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(252, 250, 250, 0.927); 
 }
 .navigation>.right-column>.links-codepen>.nav-link1 button
 { 
    
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(87 83 83 / 93%);
    color: white;
    justify-content:space-around;

 }
 .navigation>.right-column>.links-codepen>.nav-link1>button i
 { 
    color:rgb(82, 179, 82);
    

 }
 .navigation>.right-column>.links-codepen>.nav-link1 button
 { 
    margin: 12px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(94, 87, 87, 0.927);
    color: white;
    justify-content:space-between;
   

 }
 .navigation>.right-column>.links-codepen>.nav-link1
 { 
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content:space-between;
   
 }
 .navigation>.right-column>.links-codepen
 { 
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content:space-between;
   
 }


 

 
